<h1>Add a Party</h1>
<%= form_for(@party) do |f| %>
    <div class="container">
    <div class="form-group">
  <label>Hosted By</label>
  <%= f.text_field(:host_name) %>
</div>
    <div class="form-group">
  <label>Host Email</label>
  <%= f.text_field(:host_email) %>
</div>
    <div class="form-group">
  <label>Number of Guests</label>
  <%= f.text_field(:numgsts) %>
</div>
    <div class="form-group">
  <label>Guest Names (separate by ',')</label>
  <%= f.text_area(:guest_names) %>
</div>
    <div class="form-group">
  <label>Venue Name</label>
  <%= f.text_field(:venue) %>
</div>
    <div class="form-group">
  <label>Venue Location</label>
  <%= f.text_field(:location) %>
</div>
    <div class="form-group">
  <label>Party Theme</label>
  <%= f.text_field(:theme) %>
</div>
    <div class="form-group">
  <label>Party Start Time</label>
  <%= f.datetime_select(:when) %>
</div>
    <div class="form-group">
  <label>Party End Time</label>
  <%= f.datetime_select(:when_its_over) %>
</div>
    <div class="form-group">
  <label>Description</label>
  <%= f.text_area(:descript) %>
</div>
  <%= f.submit %>
    </div>
<%- end %>
