<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @party.host_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @party.host_email %>
</p>

<p>
  <strong>No Guests:</strong>
  <%= @party.numgsts %>
</p>

<p>
  <strong>Guest Names:</strong>
  <%= @party.guest_names %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @party.venue %>
</p>

<p>
  <strong>Location:</strong>
  <%= @party.location %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @party.theme %>
</p>

<p>
  <strong>When:</strong>
  <%= @party.when %>
</p>

<p>
  <strong>When its over:</strong>
  <%= @party.when_its_over %>
</p>
<p>
  <strong>Desc:</strong>
  <%= @party.descript %>
</p>